# WordPressDev, Copyright 2019 Google LLC
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

public
!public/functions.php
!public/index.php
!public/wp-config.php
!public/wp-tests-config.php
!public/content/mu-plugins/.gitkeep
!public/content/mu-plugins/allow-using-default-themes.php
!public/content/mu-plugins/wp-admin-redirect.php
!public/content/plugins/.gitkeep
!public/content/themes/.gitkeep

.env

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
.lando.local.yml
.lando.yml

wp-config-local.php
wp-tests-config-local.php
wp-cli.local.yml
