public
!public/functions.php
!public/index.php
!public/wp-config.php
!public/wp-tests-config.php
!public/content/mu-plugins/.gitkeep
!public/content/mu-plugins/allow-using-default-themes.php
!public/content/plugins/.gitkeep
!public/content/themes/.gitkeep

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
